# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# Logs
*.log

# System files
.DS_Store
Thumbs.db
